<a href="https://colab.research.google.com/github/shap0011/machine_learning_fall_2024/blob/main/Forbes_Billionaire_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## In Class Practice with Pandas

**Data Dictionary**

* Name - Name of the person
* Net worth in billions - Net worth of the person in billions
* Country - Country where the person is from
* Source - Source of the income
* Rank - Rank of the person in the Billionaires list
* Age - Age of the person
* Industry - Industry to which the person is related to

In [59]:
# mount to /content/drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Importing Pandas Library

In [60]:
import pandas as pd

### Loading the dataset in a pandas dataframe

In [61]:
# df = pd.read_csv('Forbes-list-2020.csv')
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Forbes-list-2020.csv')

### Print top 5 rows

In [62]:
df.head()

,Name,NetWorth in billions,Country,Source,Rank,Age,Industry
0,Jeff Bezos,177.0,United States,Amazon,1,57,Technology
1,Elon Musk,151.0,United States,"Tesla, SpaceX",2,49,Automotive
2,Bernard Arnault & family,150.0,France,LVMH,3,72,Fashion & Retail
3,Bill Gates,124.0,United States,Microsoft,4,65,Technology
4,Mark Zuckerberg,97.0,United States,Facebook,5,36,Technology

In [63]:
df.tail()

,Name,NetWorth in billions,Country,Source,Rank,Age,Industry
2750,Daniel Yong Zhang,1.0,China,e-commerce,2674,49,Technology
2751,Zhang Yuqiang,1.0,China,Fiberglass,2674,65,Manufacturing
2752,Zhao Meiguang,1.0,China,gold mining,2674,58,Metals & Mining
2753,Zhong Naixiong,1.0,China,conglomerate,2674,58,Diversified
2754,Zhou Wei family,1.0,China,Software,2674,54,Technology

#### <span style="color:crimson">Q1. Whose name is assigned to the 0th index in the dataframe</span>

In [64]:
df.loc[0:0,'Name']

0    Jeff Bezos
Name: Name, dtype: object

### Print the dimensions of data

In [65]:
df.shape

(2755, 7)

#### <span style="color:crimson">Q2. How many records do you have in this dataset?</span>

In [66]:
df.tail(1)

,Name,NetWorth in billions,Country,Source,Rank,Age,Industry
2754,Zhou Wei family,1.0,China,Software,2674,54,Technology

In [67]:
# number of records (rows)
df.shape[0]

2755

In [68]:
# number of attributes (columns)
df.shape[1]

7

### Datatypes of all the fields in the data

In [69]:
df.dtypes

Name                     object
NetWorth in billions    float64
Country                  object
Source                   object
Rank                      int64
Age                       int64
Industry                 object
dtype: object

#### <span style="color:crimson">Q3. What is the data type of the variable Source</span>

In [70]:
df.dtypes['Source']

dtype('O')

### Checking for missing values

##### Using buil-in checks

In [71]:
df.isna().sum()

Name                    0
NetWorth in billions    0
Country                 0
Source                  0
Rank                    0
Age                     0
Industry                0
dtype: int64

In [72]:
df.isnull().sum()

Name                    0
NetWorth in billions    0
Country                 0
Source                  0
Rank                    0
Age                     0
Industry                0
dtype: int64

##### Checking data values

In [73]:
df['Name'].value_counts()

Name
Robert Miller             2
Li Li                     2
Wang Yanqing & family     2
Chen Guoxiang & family    1
Tony Chen                 1
                         ..
Frank VanderSloot         1
Kelcy Warren              1
Xu Yi                     1
Vladimir Yevtushenkov     1
Zhou Wei family           1
Name: count, Length: 2752, dtype: int64

In [74]:
df['NetWorth in billions'].value_counts()

NetWorth in billions
1.1     150
1.2     146
1.4     122
1.3     115
1.5     106
       ...
19.4      1
19.1      1
19.0      1
18.8      1
13.7      1
Name: count, Length: 245, dtype: int64

In [75]:
df['Country'].value_counts()

Country
United States           724
China                   626
India                   140
Germany                 136
Russia                  118
                       ...
Venezuela                 1
Eswatini (Swaziland)      1
Algeria                   1
Liechtenstein             1
Nepal                     1
Name: count, Length: 70, dtype: int64

In [76]:
df['Source'].value_counts()

Source
real estate                171
pharmaceuticals             99
investments                 90
diversified                 85
software                    62
                          ...
TV network, investments      1
media, tech                  1
aluminum, diversified        1
measuring instruments        1
gold mining                  1
Name: count, Length: 924, dtype: int64

In [77]:
df['Rank'].value_counts()

Rank
2524    150
2378    146
2141    122
2263    115
2035    106
       ...
93        1
94        1
95        1
98        1
154       1
Name: count, Length: 245, dtype: int64

In [78]:
df['Age'].value_counts()

Age
58    105
57    103
55     90
59     85
67     84
     ...
24      2
27      1
18      1
26      1
25      1
Name: count, Length: 75, dtype: int64

In [79]:
df['Industry'].value_counts()

Industry
Finance & Investments         371
Technology                    365
Manufacturing                 331
Fashion & Retail              273
Healthcare                    221
Food & Beverage               219
Real Estate                   215
Diversified                   188
Energy                        100
Media & Entertainment          95
Service                        75
Metals & Mining                74
Automotive                     68
Construction & Engineering     44
Logistics                      35
Telecom                        32
Gambling & Casinos             25
Sports                         24
Name: count, dtype: int64

##### Checking type of column

In [80]:
df.dtypes

Name                     object
NetWorth in billions    float64
Country                  object
Source                   object
Rank                      int64
Age                       int64
Industry                 object
dtype: object

##### Sorting the values

In [82]:
df['Name'].sort_values()

2673                          A. Jayson Adair
1444              Abdulla Al Futtaim & family
1111    Abdulla bin Ahmad Al Ghurair & family
580                          Abdulsamad Rabiu
1315                            Abhay Firodia
                        ...
2260                                 Zhuo Jun
2148                               Ziv Aviram
272                              Zong Qinghou
129                                   Zuo Hui
978                        Zygmunt Solorz-Zak
Name: Name, Length: 2755, dtype: object

In [83]:
df['NetWorth in billions'].sort_values()

2754      1.0
2694      1.0
2695      1.0
2696      1.0
2697      1.0
        ...
4        97.0
3       124.0
2       150.0
1       151.0
0       177.0
Name: NetWorth in billions, Length: 2755, dtype: float64

In [84]:
df['Country'].sort_values()

597       Algeria
927     Argentina
1336    Argentina
2292    Argentina
1494    Argentina
          ...
1964      Vietnam
1147      Vietnam
1504      Vietnam
2457      Vietnam
2087     Zimbabwe
Name: Country, Length: 2755, dtype: object

In [85]:
df['Source'].sort_values()

1266                 3D printing
2044                         AOL
153                       Airbnb
178                       Airbnb
176                       Airbnb
                  ...
886                         wine
2745                        wine
912               winter jackets
1912       wire & cables, paints
99      wireless networking gear
Name: Source, Length: 2755, dtype: object

In [86]:
df['Rank'].sort_values()

0          1
1          2
2          3
3          4
4          5
        ...
2696    2674
2695    2674
2694    2674
2692    2674
2754    2674
Name: Rank, Length: 2755, dtype: int64

In [87]:
df['Age'].sort_values()

940     18
2143    24
2122    24
2144    25
1338    26
        ..
729     96
1579    96
1626    97
1559    97
170     97
Name: Age, Length: 2755, dtype: int64

In [88]:
df['Industry'].sort_values()

1949    Automotive
2336    Automotive
2568    Automotive
2245    Automotive
482     Automotive
           ...
478        Telecom
213        Telecom
351        Telecom
2472       Telecom
2668       Telecom
Name: Industry, Length: 2755, dtype: object

#### <span style="color:crimson">Q4. How many missing values exists in the industry feature</span>

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2755 entries, 0 to 2754
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  2755 non-null   object
 1   NetWorth in billions  2755 non-null   float64
 2   Country               2755 non-null   object
 3   Source                2755 non-null   object
 4   Rank                  2755 non-null   int64
 5   Age                   2755 non-null   int64
 6   Industry              2755 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 150.8+ KB

In [90]:
df['Industry'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2755 entries, 0 to 2754
Series name: Industry
Non-Null Count  Dtype
--------------  -----
2755 non-null   object
dtypes: object(1)
memory usage: 21.6+ KB

In [91]:
df['Industry'].isnull().sum()

0

### Print the basic stats for this dataset

In [92]:
df.mean(numeric_only = True)

NetWorth in billions       4.749220
Rank                    1345.663521
Age                       63.014519
dtype: float64

In [93]:
df.describe()

       NetWorth in billions         Rank          Age
count           2755.000000  2755.000000  2755.000000
mean               4.749220  1345.663521    63.014519
std                9.615358   772.669811    13.259017
min                1.000000     1.000000    18.000000
25%                1.500000   680.000000    54.000000
50%                2.300000  1362.000000    62.000000
75%                4.200000  2035.000000    72.000000
max              177.000000  2674.000000    97.000000

#### <span style="color:crimson">Q5. Who is the yongest billionare in this list?</span>

In [94]:
df['Name'][df['Age'] == df['Age'].min()]

940    Kevin David Lehmann
Name: Name, dtype: object

In [95]:
df[['Name', 'Age']].sort_values('Age', ascending = True).head(1)

                    Name  Age
940  Kevin David Lehmann   18

### Sort the dataset  by Age (ascending) and reset the index

In [96]:
#df_sorted_by_age = df.sort_values('Age', ascending = True)
#df_sorted_by_age
df = df.sort_values('Age', ascending = True)
df

,Name,NetWorth in billions,Country,Source,Rank,Age,Industry
940,Kevin David Lehmann,3.3,Germany,drugstores,925,18,Fashion & Retail
2143,Alexandra Andresen,1.4,Norway,investments,2141,24,Diversified
2122,Wang Zelong,1.5,China,chemicals,2035,24,Metals & Mining
2144,Katharina Andresen,1.4,Norway,investments,2141,25,Diversified
1338,Austin Russell,2.4,United States,Unknown,1299,26,Automotive
...,...,...,...,...,...,...,...
729,Masatoshi Ito,4.0,Japan,retail,727,96,Fashion & Retail
1579,S. Daniel Abraham,2.0,United States,Slim-Fast,1580,96,Food & Beverage
1626,Charles Munger,2.0,United States,Berkshire Hathaway,1580,97,Finance & Investments
1559,David Murdock,2.1,United States,"Dole, real estate",1517,97,Food & Beverage
170,Robert Kuok,12.6,Malaysia,"palm oil, shipping, property",171,97,Diversified

In [ ]:
#new_index = list(range(df.shape[0]))

In [ ]:
#new_index[-1]

In [97]:
# how many records
df.shape[0]

2755

In [98]:
#df_sorted_by_age_ri = df_sorted_by_age.reset_index()
#df_sorted_by_age_ri
df = df.reset_index()
df

,index,Name,NetWorth in billions,Country,Source,Rank,Age,Industry
0,940,Kevin David Lehmann,3.3,Germany,drugstores,925,18,Fashion & Retail
1,2143,Alexandra Andresen,1.4,Norway,investments,2141,24,Diversified
2,2122,Wang Zelong,1.5,China,chemicals,2035,24,Metals & Mining
3,2144,Katharina Andresen,1.4,Norway,investments,2141,25,Diversified
4,1338,Austin Russell,2.4,United States,Unknown,1299,26,Automotive
...,...,...,...,...,...,...,...,...
2750,729,Masatoshi Ito,4.0,Japan,retail,727,96,Fashion & Retail
2751,1579,S. Daniel Abraham,2.0,United States,Slim-Fast,1580,96,Food & Beverage
2752,1626,Charles Munger,2.0,United States,Berkshire Hathaway,1580,97,Finance & Investments
2753,1559,David Murdock,2.1,United States,"Dole, real estate",1517,97,Food & Beverage
2754,170,Robert Kuok,12.6,Malaysia,"palm oil, shipping, property",171,97,Diversified

In [ ]:
# run
# loc - selecting things by label
# df.loc[0, :]
# df.loc[[0,1,2], :] this is same as
# df.loc[0:2, :]
# df.loc[:, ['Name','Age']]
# df.loc[:, 'Name' : 'Age']
# df.loc[0:2, 'Name':'Age'] 0:2 - inclusive in both sides
# df.head(3).drop('Industry', axis=1)
# df[df.Country=='Ukraine']
# df.loc[df.Country=='Ukraine', :]
# df[df.Country=='Ukraine'].Name - bad practice
# df.loc[df.Country=='Ukraine', 'Name']

In [99]:
df.columns

Index(['index', 'Name', 'NetWorth in billions', 'Country', 'Source', 'Rank',
       'Age', 'Industry'],
      dtype='object')

In [100]:
# run
# iloc - filtering rows and selecting columns by integer position
# df.iloc[:, [0, 3]]
# df.iloc[:, 0:4] exclusive last one (4), right side
df.iloc[0:3, :]

,index,Name,NetWorth in billions,Country,Source,Rank,Age,Industry
0,940,Kevin David Lehmann,3.3,Germany,drugstores,925,18,Fashion & Retail
1,2143,Alexandra Andresen,1.4,Norway,investments,2141,24,Diversified
2,2122,Wang Zelong,1.5,China,chemicals,2035,24,Metals & Mining

In [101]:
# df[['Name', 'Country']] - bad, too much logic
# df.loc[:, ['Name', 'Country']]
# df[0:2] - bad, too much logic
df.iloc[0:2, :]

,index,Name,NetWorth in billions,Country,Source,Rank,Age,Industry
0,940,Kevin David Lehmann,3.3,Germany,drugstores,925,18,Fashion & Retail
1,2143,Alexandra Andresen,1.4,Norway,investments,2141,24,Diversified

In [102]:
# df2 = pd.read_csv('Forbes-list-2020.csv', index_col='Name')
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Forbes-list-2020.csv', index_col='Name')

In [103]:
df2.head()

,NetWorth in billions,Country,Source,Rank,Age,Industry
Name,,,,,,
Jeff Bezos,177.0,United States,Amazon,1,57,Technology
Elon Musk,151.0,United States,"Tesla, SpaceX",2,49,Automotive
Bernard Arnault & family,150.0,France,LVMH,3,72,Fashion & Retail
Bill Gates,124.0,United States,Microsoft,4,65,Technology
Mark Zuckerberg,97.0,United States,Facebook,5,36,Technology

#### <span style="color:crimson">Q6. What is the output of `df.iloc[1200,3]`?</span>

In [104]:
df.iloc[1200,3]

'Germany'

### Create a new column `Year_of_birth`
Note: The dataset is from the year 2020. The age of those Billionaires is as of 2020.

In [105]:
# create a new column 'Year_of_birth'
df['Year_of_birth'] = 2020 - df['Age']

In [106]:
#view the data
df

,index,Name,NetWorth in billions,Country,Source,Rank,Age,Industry,Year_of_birth
0,940,Kevin David Lehmann,3.3,Germany,drugstores,925,18,Fashion & Retail,2002
1,2143,Alexandra Andresen,1.4,Norway,investments,2141,24,Diversified,1996
2,2122,Wang Zelong,1.5,China,chemicals,2035,24,Metals & Mining,1996
3,2144,Katharina Andresen,1.4,Norway,investments,2141,25,Diversified,1995
4,1338,Austin Russell,2.4,United States,Unknown,1299,26,Automotive,1994
...,...,...,...,...,...,...,...,...,...
2750,729,Masatoshi Ito,4.0,Japan,retail,727,96,Fashion & Retail,1924
2751,1579,S. Daniel Abraham,2.0,United States,Slim-Fast,1580,96,Food & Beverage,1924
2752,1626,Charles Munger,2.0,United States,Berkshire Hathaway,1580,97,Finance & Investments,1923
2753,1559,David Murdock,2.1,United States,"Dole, real estate",1517,97,Food & Beverage,1923
2754,170,Robert Kuok,12.6,Malaysia,"palm oil, shipping, property",171,97,Diversified,1923

### Select Billionaires born in 1996

In [107]:
# Using where condition
filtered_df = df.loc[:,['Name','Year_of_birth']].where(df['Year_of_birth'] == 1996)
billioners_1996 = filtered_df.dropna()
billioners_1996

                 Name  Year_of_birth
1  Alexandra Andresen         1996.0
2         Wang Zelong         1996.0

#### <span style="color:crimson">Q7. How many Billionaires were born in 1996?</span>

In [108]:
billioners_1996.count()

Name             2
Year_of_birth    2
dtype: int64